{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Tuning the TVs
{% endblock %}

{% block content %}
<p>To pick up their favorite channel, the residents adjust simple antennas,
made out of a single bar. The antennas look like
this:</p>

<img class="exampletvs" style="margin: 0 auto" src="static/images/antennatvs.png">

<p>The antennas can be adjusted in only two ways: by extending or collapsing the <strong>length</strong>
    or by swiveling the <strong>angle</strong>.</p>

<p>Your job in this task will be to learn which antenna settings pick up
<strong>CH1</strong> and <strong>CH2</strong>.</p>

<p>
When performing the task, please try not to bring too many
assumptions about how your antenna at home might work.  This is meant to
be a simple video game where things work a little bit different than in
the real world.
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
