{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Tuning the TVs
{% endblock %}

{% block content %}
<p>To pick up the two channels, the people in the town adjust simple antennas,
made out of a single bar. The antennas are perched on top of the TVs, like
this:</p>

<img class="exampletvs" style="margin: 0 auto" src="static/images/antennatvs.png">

<p>They can be adjusted in two ways: by extending or collapsing the bar, and by
swiveling the bar.</p>

<p>Your job in this task will be to learn which antenna configurations pick up
<strong>CH1</strong> and <strong>CH2</strong>.
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
