<!doctype html>

<html>
    <head>
	<title>Consent Form</title>
	<script src="static/jquery-min.js" type="text/javascript"> </script>
	<script src="static/cardtask.js" type="text/javascript"> </script>
	<link rel=stylesheet href="static/instruct.css" type="text/css" media="screen">
	<script type="text/javascript">
	    function onexit() {
		self.close()
	    }
	</script>
    </head>
    <body>
	<div class="instruct" id="main">
	    <h1>Informed Consent Form for Online Participants.</h1>
            <p> 
            You are invited to take part in a study named Causal Reasoning. The
            study is designed to learn more about the effect of causal
            knowledge on how people reason, categorize, and learn. It is being
            conducted by Prof. Robert Rehder, Department of Psychology, who is
            the principal investigator.
            </p>
            <p> 
            You must be 18 years of age or older to participate. If you agree
            to be in this study, you will be asked to learn causal information
            presented on a computer screen and then asked to answer questions
            in which you make use of that information. Your participation will
            take about 45 minutes. You will be paid $1.50 for completing this
            study. When you complete the study, a thorough verbal and written
            explanation of it will be provided.
            </p>
            <p> 
            There are no known risks associated with your participation in this
            research beyond those of everyday life. Although you will receive
            no direct benefits for participation in this study, it may make you
            more aware of how knowledge is discovered in psychology and help
            the investigator better understand the effect of causal knowledge
            on how people think and make decisions.
            </p>
            <p> 
            Taking part in this study is voluntary. Not taking part or
            withdrawing after the study has begun will result in no loss of
            services from NYU to which you are otherwise entitled; and it will
            not affect your grades or academic standing in any way. If you
            withdraw at any time, only partial payment will be given. You have
            the right to skip or not answer any questions you prefer not to
            answer.  
            </p>
            <p> 
            Confidentiality of your research records will be strictly
            maintained by the assignment of participant numbers that are not
            identifiable with real names. The data from the study will be kept
            until 5 years after publication, as recommended by the American
            Psychological Association, and then destroyed by deletion of
            computer-generated data files and shredding of related documents.
            </p>
            <p> 
            If there is anything about the study or taking part in it that is
            unclear or that you do not understand, if you have questions or in
            the event of a research-related injury, you may contact the
            principal investigator, Prof. Rehder, at 212-992-9586,
            bob.rehder@nyu.edu, 6 Washington Pl, RM858. For questions about
            your rights as a research participant, you may contact the
            University Committee on Activities Involving Human Subjects
            (UCAIHS), NYU, (212) 998-4808 or ask.humansubjects@nyu.edu, 665
            Broadway, Suite 804, New York, NY 10012.
            </p>

	    <p><a href="javascript:window.print()">Please print a copy of this consent document to keep.</a></p>
	    </div>
	    <div class="instructions warm">Do you understand and consent to the terms of the experiment explained above?</div>
	    <input type="button" class="continue" id="IAgree" value="I Agree" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
	    <input type="button" id="NoThanks" value="No Thanks" onclick="onexit()">
	</div>
    </body>
</html>
