{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Antenna Distribution
{% endblock %}

{% block content %}
<p>
Most of the TVs brought into your shop will be broken (indicated by the broken
glass), which will make your job trickier.  Broken TVs look like this:
</p>
<img class="exampletv" style="margin: 0 auto" src="static/images/tvnan.png">
<p>
While it might at first seem like you can't learn
anything from a broken TV, in fact, <strong>you can still learn</strong> from
these items.  For example, by closely examining different TVs you might pick 
up on the "natural groupings" of antennas.   The reason for the grouping
is that everyone in this town has adjusted their TV to pick up either 
CH1 or CH2 and these involve different antenna settings.  There are two
"types" of antenna settings that you could discover just by watching.
Keep in mind, however, that there may be small variations in how any individual
TV is set based on the reception at the person's home.
</p>
<p>
Since <strong>CH1</strong> and <strong>CH2</strong> are the only
channels in this pretend town, you can be confident that every TV antenna you see, broken or
working, was set that way with the intention of picking up one of the two channels.
The antennas on the TVs are <strong>never</strong> broken... just the
glass and electronics inside is broken on some of the TVs.
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
