{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Antenna Distribution
{% endblock %}

{% block content %}
<p>
Most of the TVs will be broken, which will make your job trickier. But
<strong>you can still learn</strong> from the antennas on broken TVs. Everyone
in the town has been adjusting their TV to pick up either one channel or the
other. This means that you will be seeing two distinct "types" of antennas.
</p>
<p>
Furthermore, since <strong>CH1</strong> and <strong>CH2</strong> are the only
channels, you can be confident that every TV antenna you see, broken or
otherwise, was set that way with the intention of tuning in one of those two stations.
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
