{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Antenna Distribution
{% endblock %}

{% block content %}
<p>
Most of the TVs brought into your shop will be broken (indicated by the broken
glass), which will make your job trickier.  Broken TVs look like this:
</p>
<img class="exampletv" style="margin: 0 auto" src="static/images/tvnan.png">
<p>
While it might at first seem like you can't learn anything from a broken TV, in
fact, <strong>you can still learn</strong> from these items. Since all the TVs
have been adjusted to pick up either CH1 or CH2, there will be two types of
antennas that you can discover just by watching.
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
