<!doctype html>

<html>
	<head>
		<title>Learning Groups of Objects</title>
		<meta charset="utf-8">
		<script src="static/raphael-min.js" type="text/javascript"> </script>
		<script src="static/jquery-min.js" type="text/javascript"> </script>
		
		<script language="JavaScript">
		// Subject info, including condition and counterbalance codes.
		var subjid = {{ subj_num }};
		var condition = { order: {{order}} };
		var subjinfo = [{{subj_num}}];
		
		/*********************
		* Get things started *
		*********************/
		
		$(window).load( function(){
			runfun = function() {
			    {% if skipto %}
					{% if skipto=="questionnaire" %}
					givequestionnaire();
					{% elif skipto=="test" %}
					testobject = new TestPhase();
					{% endif %}
			    {% else %}
				currentBlock = new InstructBlock(instructions);
				currentBlock.startblock();
			    {% endif %}
			}
			
			// Load resources then run the exp
			pages = {{ pages|tojson|safe }};
			instructions = {{ instructions|tojson|safe }};
			stims = {{ stims|tojson|safe }};
			runfun();
		});
		</script>
				
		<script src="static/task.js" type="text/javascript"> </script>
		<link rel=stylesheet href="static/task.css" type="text/css" media="screen">
	</head>
<body>
    <noscript>
            <h1>Warning: Javascript seems to be disabled</h1>
            <p>This website requires that Javascript be enabled on your browser.</p>
            <p>Instructions for enabling Javascript in your browser can be found <a
                    href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
    </noscript>
    <div id="stim"></div>
</body>
</html>
