{% extends "instruct.html" %}
{% block instructions %}

<p>In ths study, you will be asked to pretend you are a curious worker in a
television repair shop. You see many TVs go by every day. The TVs look like this:</p>
<img style="margin: 0 auto" src="static/images/tvnan.png">

<p>In this town, there are two channels TVs can be tuned to:
<strong>CH1</strong> and <strong>CH2</strong>. When the TVs are able to pick
them up, they look like this:

<div style="margin: 0 auto">
    <img src="static/images/tvch1.png">
    <img src="static/images/tvch2.png">
</div>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
