{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
TV Repair Shop
{% endblock %}

{% block content %}
<p>
In summary, these are the basics of the task:
</p>
<ul>
    <li>All the TVs in the pretend town are tuned to <strong>CH1</strong> or
    <strong>CH2</strong>.
    <li>People tune their TVs to pick up the two channels by adjusting:
    <ul>
        <li>The <strong>length</strong> of the bar and
        <li>Its <strong>angle</strong>.
    </ul>
    <li>This means there will be two different "types" of antennas
    corresponding to the two channels.
    <li>Most TVs will be broken, but you can learn from both the broken and
    working TVs if you pay attention.
</ul>

<p>The game has two phases. First, you will see many examples of TVs that are
brought into the shop. After viewing each, click continue to move on to the
next one. Try to figure out what might make a TV pick up CH1 or CH2.
Afterwards, you will be shown a set of new TVs all with broken screens and will
be asked to guess which channel they pick up.</p>

<p>On the next screen, you will be asked to complete a brief quiz to make sure
you have understood the instructions.</p>

{% endblock %}

{# 
 vim: ft=htmljinja  
#}
