{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block content %}
<p>In this study, you will be asked to pretend you are an apprentice worker in a
television repair shop in a small town. As part of your job, you see many TVs. The
TVs look like this:</p>
<img class="exampletv" style="margin: 0 auto" src="static/images/tvnan.png">

<p>In this pretend (but boring) town, there are only two channels TVs can be tuned to:
<strong>CH1</strong> and <strong>CH2</strong>. When the TVs are able to get reception, 
they look like this:

<div style="margin: 0 auto">
    <img class="exampletv" src="static/images/tv0.png">
    <img class="exampletv" src="static/images/tv1.png">
</div>

<p>
<b>Your job will be to learn how to set the antenna on the TV (not visible here) in order to pick up
either channel. </b>
</p>


{% endblock %}

{# 
 vim: ft=htmljinja  
#}
