<!doctype html>

<html>
<head>
	<title>Debriefing for Group Learning Experiment</title>
	<link rel="stylesheet" href="static/task.css" type="text/css" media="screen">
	<script src="static/jquery-min.js" type="text/javascript"> </script>
</head>

<body>
	<div class="instruct" id="main">
		<h1>Explanation</h1>

<p>Before you go, you might be curious as to what was going on in this task.

{% if axis == "angle" %} {% set irrelevant="size" %} {% set relevant = "angle" %}
{% else %} {% set irrelevant="angle" %} {% set relevant = "size" %}
{% endif %}

<p>Essentially, the idea was that one of the two aspect of the antenna, its
<strong>{{ relevant -}}</strong>, was relevant to the channel. {{ irrelevant | capitalize }}
didn't make a difference. Because of this, people made sure that their
antenna's {{ relevant }} was set one way for CH1 or a different way for CH2.
Since {{ irrelevant }} didn't matter, it ended up getting set randomly. Even
without seeing any labeled TV's, you might have been able to pick up on that
tendency.</p>

            <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next" onClick="javascript:window.location='debrief?subjid={{ subjid -}}'">
</div></body>

{# 
 vim: ft=htmljinja  
#}
