{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
Training Phase
{% endblock %}

{% block content %}
<p>
Good work on the quiz!
</p>

<p>
In this phase, you'll see a large number of TVs that have been brought into the
repair shop. See if you can figure out which antennas tune to which channels!
</p>

<p>
This training phase is a chance for you to prepare for the next phase,
when we'll be asking for your judgments about some new TV antennas.
</p>



{% endblock %}

{# 
 vim: ft=htmljinja  
#}
