
{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
The Test Phase
{% endblock %}

{% block content %}
<p>
Thanks for learning about all those TVs in the training phase! Congratulations
for making it this far.  Now, you will begin the test phase were we will
assess what you learned.
</p>

<p>
In this part, you will see some new broken TVs and will be asked to predict, on the
basis of their antenna, whether they are tuned to <strong>CH1</strong> or
<strong>CH2</strong>.
</p>

<p>
This may seem difficult, especially if you didn't encounter any working
TVs during the first phase.  <strong>This is not due to an error</strong>.
We are interested in what people can learn given very little instruction/feedback.
</p>
<p>
If you didn't see any working TVs during your training, just sort the antennas
into two groups, based on what you think are the two types of antennas.  Although
you may not know which is CH1 or which is CH2, try to be consistent.  For example,
if you think two antenna are similar, you should try to label them the same way
(i.e., assign them to the same channel).
</p>
<p>
If you did encounter working TVs, try your best to assign the new TVs to the
correct group matching what you observed in the first phase.
</p>

<p>
Good luck! You're almost done.
</p>

{% endblock %}

{# 
 vim: ft=htmljinja  
#}
