
{% extends "instruct.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{% block title %}
The Test Phase
{% endblock %}

{% block content %}
<p>
Thanks for learning about all those TVs in the training phase! You may now
begin the test phase.
</p>

<p>
In this phase, you will see some new broken TVs and be asked to judge, on the
basis of their angle, whether they are tuned to <strong>CH1</strong> or
<strong>CH2</strong>.
</p>

<p>
If you didn't see any working TVs during your training, just sort the antennas
into two groups, based on what you think are the two types of antennas.
</p>

<p>
Good luck! You're almost done.
</p>

{% endblock %}

{# 
 vim: ft=htmljinja  
#}
